* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1323;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 80px 0;
  min-width: 1216px;
}

.section {
  max-width: 912px;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    margin: 32px 0;
    min-width: 343px;
  }
  .section {
    max-width: 272px;
  }
}
